<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">
    <br/>
    <input type="text" name="username" placeholder="Enter your name"/>
    <br/>
    <label>Interests</label>
    <input type="checkbox" name="interest" value="cafe-hoping">Cafe Hoping</input>
    <input type="checkbox" name="interest" value="reading">Reading</input>
    <input type="checkbox" name="interest" value="gaming">Gaming</input>
    <br/>
    <input type="submit"/>
    </form>
</body>
</html>